@keyframes outputIn {
  from { opacity: .5; }
  25% { transform: translateY(-.1em); }
  75% { transform: translateY(.1em); }
}

/* resets */
*::before,
*,
*::after {
  box-sizing: border-box;
}

* {
  animation: outputIn .33s ease-out forwards;
}

body {
  margin: 0 1em;
  overflow-y: scroll; /* force scroll bar */
  font-family: sans-serif;
}

main {
  overflow: hidden; /* clearfix */
  max-width: 80em;
  margin: 0 auto;
}

.row {
  overflow: hidden; /* clearfix */
}

header {
  text-align: center;
}

header .students {
  padding: 0;
  margin: 0 0 1em;

  list-style: none;
}

header .students > li {
  display: inline-block;

  color: #9C9C9C;
}

header .students > li::after { content: ', '; }

.summary,
.filters {
  float: left;
  width: 50%;
}

.summary {
  padding-right: 2em;
}

.summary h2 {
  color: #505050;
}

.summary p {
  color: #383838;
  line-height: 1.25em;
}

.summary p a {
  color: #2E388C;
  font-weight: bold;
  text-decoration: none;

  transition: opacity .15s;
}

.summary p a:hover {
  opacity: .75;
}

.filter__instructions {
  width: 100%;
  margin: 1em 0 .5em;

  font-weight: bolder;
  text-align: center;
  color: #717171;
}

.filters {
  padding-top: 2em;
}

.filter__keyword {
  width: 100%;
  padding: .25em;

  font-size: 2em;

  text-align: center;
  border: 2px solid #FFDDA5;
  border-radius: 5px;
  color: #F4AE36;

  transition: border-color .33s ease-out;
}

.filter__keyword:focus {
  border-color: #F4AE36;
  outline: none;
}

input[type="radio"] {
  overflow: hidden; /* clearfix */
  padding: 1em 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  float: left;
  padding: .5em 0;

  text-align: center;

  color: #2E388C;
  border: 2px solid #2E388C;
  border-left: 0;

  background-repeat: no-repeat;
  background-size: auto 60%;
  background-position: 5% center;

  transition: background .15s, color .15s;
}

input[type="radio"]:first-of-type + label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 2px solid;
}

input[type="radio"]:last-of-type + label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input[type="radio"]:checked + label {
  color: white;

  background-color: #2E388C;
}

input[type="radio"] + label:hover {
  color: white;

  background-color: #2E388C;
  border-color: #2E388C;

  cursor: pointer;
}

.assessment,
.sentiment {
  overflow: hidden; /* clearfix */
}

.filter__assessment + label {
  width: 33.33%;
}

.filter__sentiment + label {
  width: 50%;
}

input[type="radio"] + label[for="sentiment--loved"] {
  color: #67B53F;
  border-color: #67B53F;
  background-image: url('../images/8.png');
}

input[type="radio"]:checked + label[for="sentiment--loved"] {
  background-color: #67B53F;
  color: white;
}

input[type="radio"] + label[for="sentiment--loved"]:hover {
  background-color: #67B53F;
  color: white;
}

input[type="radio"] + label[for="sentiment--hated"] {
  color: #F44336;
  border-color: #F44336;
  background-image: url('../images/-8.png');
}

input[type="radio"]:checked + label[for="sentiment--hated"] {
  background-color: #F44336;
  color: white;
}

input[type="radio"] + label[for="sentiment--hated"]:hover {
  background-color: #F44336;
  color: white;
}

.output {
  width: 70%;
  max-width: 40em;
  margin: 0 auto;
}

.output p.output__intro {
  margin: 2em 0 1.5em;
  font-size: 1.5em;
  line-height: 1em;

  text-align: center;
  color: #9da4cc;
}

.output h1 {
  margin-bottom: .25em;

  text-align: center;
  color: #4E4E4E;
}

.output h2 {
  color: #5A5A5A;
}

.output h3 {
  color: #616161;
}

.output p {
  line-height: 1.5em;
  color: grey;
}

.output mark {
  background: rgba(255, 161, 0, .5);
  box-shadow: 0 0 0 2px rgba(255, 161, 0, .5);
}

.output .no-recommendations {
  text-align: center;
  font-size: 3em;
  color: #D6D6D6;
}

.weighting {
  overflow: hidden; /* clearfix */

  border-radius: 3px;
}

.weighting__area {
  float: left;
  padding: .5em;

  white-space: nowrap;
  font-size: .75em;
  font-weight: bolder;
  color: rgba(255, 255, 255, .75);

  transition: width .33s ease-in;
}

.weighting__area:last-child {
  text-align: right;
}

.weighting__area--coursework { background: #969696; }
.weighting__area--exam { background: #B5B5B5; }

.review {
  overflow: hidden; /* clearfix */
  padding: .25em 0 1em;

  color: #3F51B5;
}

.review__emoji {
  float: left;
  width: 15%;
}

.review__emoji img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}

.review__summary {
  float: left;
  width: 85%;
  margin: 0;
  padding: .5em 0;
  padding-left: 1em;

  border-left: 5px solid currentColor;
  border-radius: 5px;
}

.review__summary small {
  font-size: 1em;
  font-weight: 300;
}

h3.review__sentiment {
  color: inherit;
  font-weight: bolder;
  margin-top: 0;
}

.review__sentiment__score {
  background: currentColor;
  border-radius: 5px;
}

.jobs {
  overflow: hidden; /* clearfix */
}

.job {
  float: right;
  width: 97.5%;
  padding: .25em 1em;
  margin-bottom: 1em;

  text-decoration: none;

  border-radius: 5px;
  background: #E6E6F7;
  background: linear-gradient(to right, #E6E6F7, white);

  transition: transform .33s;
  transform: translateZ(0);
  animation: none;
}

.job:hover {
  transform: translateX(-2.5%);
}

.job:nth-child(3n + 1) { -webkit-filter:  hue-rotate(90deg); }
.job:nth-child(3n + 2) { -webkit-filter: hue-rotate(180deg); }

.job__title {
  color: #5A5A8A;
  margin-bottom: .25em;
}

.job__company,
.job__location,
.job__date {
  color: #9DA4CC;
}

.job__date {
  font-size: .85em;
}

.job__summary {
  color: #636AAD;
}

@media (max-width: 60em) {
  .summary,
  .filters,
  .output{
    width: 100%;
    padding: 0;
  }
}
