<main>

  <h1>Recommender Systems <br /> Based on Natural Language</h1>

  <ul class="students">
    <li>up645368@myport.ac.uk</li>
    <li>up663652@myport.ac.uk</li>
    <li>up665219@myport.ac.uk</li>
  </ul>

  <div class="keyword">
    <p class="keyword__instructions">Enter keywords to refine search:</p>
    <input class="keyword__input" type="text" />
  </div>

  <section class="output"></section>

  <footer>
    <a href="https://github.com/zaccolley/units4u">Grab the code</a> |
    <a href="https://docs.google.com/document/d/1oy942wvf2_ky_KW5UOGM7cLmYUq7qCcSS8G49cOBxKk">Read the paper</a>
  </footer>

</main>
